.button {
  display: flex;
  background-color: #919cff;
  margin: 1vh;
  width: 50vw;
  height: 10vh;
  border-radius: 2vh;
  align-items: center;
  justify-content: space-between;
}
.button-title {
  margin: 1vh;
}
.button-title-text {
  color: white;
  font-weight: bold;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
}

.button-edge {
  display: flex;
  flex-direction: row;

  /* width: 12vw; */
  /* height: 100%; */
  /* justify-content: flex-end; */
}

.button-logo {
  background-color: #6bece7;
  width: 4vw;
  border-top-right-radius: 2vh;
  border-bottom-right-radius: 2vh;
}
.shape {
  border-bottom: 10vh solid #6bece7;
  border-left: 10vh solid transparent;
  border-right: 0vh solid transparent;
  /* width: 100px; */
}

.logo {
  color: white;
  height: 100%;
}
